@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 30px;
}

.pic2 {
	border-radius: 10px;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.shift {
	margin-left: 20px;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.vid1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 50%;
	padding: 15px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.information {
	font-family: 'Poppins', sans-serif;
	position: relative;
	text-align: justify;
	color: #00274c;
	width: 44%;
	right: 2%;
}

.mid_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.edge_case {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 45%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.edge1 {
	position: relative;
	width: 23%;
}

.edge2 {
	position: relative;
	width: 23.5%;
	right: 2%;
}

.bottom_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.edge_case2 {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 35%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.edge3 {
	top: 80px;
	position: relative;
	width: 19%;
}

.edge4 {
	top: 80px;
	position: relative;
	width: 17.5%;
}

.edge5 {
	top: 80px;
	position: relative;
	width: 20%;
	right: 2%;
}

.condition_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.conditions {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 50%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.rules {
	top: 100px;
	position: relative;
	width: 45%;
	right: 2%;
}

.random_selection {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.random_about {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 35%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.stats {
	top: 35px;
	position: relative;
	width: 60%;
	right: 2%;
}

.best_starter {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.best_starter_about {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 60%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.match {
	top: 90px;
	position: relative;
	width: 35%;
	right: 2%;
}

.start_results {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.results1 {
	position: relative;
	left: 2%;
	width: 23.3%;
}

.results2 {
	left: 0.6%;
	position: relative;
	width: 23.5%;
}

.results3 {
	right: 0.6%;
	position: relative;
	width: 24.3%;
}

.results4 {
	position: relative;
	width: 24.4%;
	right: 2%;
}

@media (max-width: 1000px){
	.best_starter_about, .random_about, .conditions, .edge_case2, .edge_case, .information {
		padding: 15px;
	}

	.match {
		top: 30px;
	}

	.results1, .results2, .results3, .results4, .best_starter_about, .match, .stats, .random_about, .conditions, .rules, .edge3, .edge4, .edge5,.edge_case2, .edge_case, .edge1, .edge2, .information, .vid1 {
		flex: 100%;
		left: 0%;
		right: 0%;
		margin-bottom: 70px;
	}

	.top_info {
		top: 80px;
	}
	.navbar .logo a{
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;
	}
	.text {
		font-size: 18px;
	}
}